*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #232c33;
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;

    height: 100vh;
}
.navigation{

    display: flex;
    align-items: space-evenly;
    justify-content: space-evenly;
    position: relative;
    height: 100%;
    width: 70px;
    top: 0;
    background: #2b343b;
    box-shadow: 10px 0 0 #4deeea;
    border-left: 10px solid #2b343b;
    overflow: hidden;
    transition: width 0.5s;
}
.navigation:hover{
    width: 300px;
    opacity: 1;
}
.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 40px;
}
.navigation ul li{
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.navigation ul li.active{
    background: #4deeea;
}
.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
}
.navigation ul li.active a::before{
    content: '';
    position: absolute;
    top: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    background: none;
    border-radius: 50%;
    box-shadow: 15px 15px 0  #4deeea;
}
.navigation ul li.active a::after{
    content: '';
    position: absolute;
    bottom: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    background: none;
    border-radius: 50%;
    box-shadow: 15px -15px 0  #4deeea;
}
.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}
.navigation ul li a .icon i{
    position: relative;
    font-size: 1.5rem;
    z-index: 1;
}
.navigation ul li a .title{
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}

.logo{
    color: white;
    height: 10vh;
}

#main{
    position: fixed;
    top: 0;
    left: 85px;
    width: calc(100% - 85px);
    min-height: 100vh;
    padding: 20px;
    transition: 0.5s;

}
.sub-main{
    width: 80%;
    height: 90%;
    display: flex;
    justify-self: center;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.top-user{
    display: box;
    width: 400px;
    height: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    margin: 20px;
    border: 1px solid #4deeea;

}

.top-user p, .title {
    color: #4deeea;
}

